<div class="row home">
  <div class="col-sm-5">
    <div id="text-home-4">
      <p>Đặt Đồ ăn, giao hàng từ 20'...</p>
    </div>
    <div id="text-home-5">
      <p>Có 15 cơ sở tại Hà Nội từ 00:00 - 23:59</p>
    </div>
    <div class="div-search-home">
      <%= search_form_for @q, url: root_path, method: :get, class: "form-inline d-flex justify-content-center md-form form-sm active-pink-2 mt-2" do |f| %>
        <%= f.search_field :name_cont, class: "form-control form-control-sm ml-3 w-75", type: "text", placeholder: "Tìm món ăn, đồ uống" %>
        <%= button_tag do %>
          <i class="fas fa-search" aria-hidden="true"></i>
        <% end %>
      <% end %>
      <div id="text-home-6">
        <p>Từ khóa được tìm kiếm nhiều nhất</p>
      </div>
    </div>
  </div>
  <div class="col-sm-7">
    <div class="div-home-1">
      <span id="text-home-1">Đồ Ăn</span>
      <span id="icon-home-1"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
      <span id="text-home-2">Chọn địa chỉ giao hàng tại đây</span>
      <span id="icon-home-2"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
    </div>
    <div class="div-home-2">
      <div class="row home-div-2">
        <div id="text-home-3"> Món Khai Vị</div>
        <% @appetizers.each do |f| %>
          <div class="div-for-product">
            <div class="img-product">
              <%= link_to image_tag(f.image.url) %>
            </div>
            <div class="detail-product">
              <span id="name-product"><%= f.name %></span>
              <div id="price-product"><%= f.price %>đ</div>
              <div id="description-product">
                <i class="fa fa-circle" aria-hidden="true"></i>
                <span id="description-product-2"><%= f.description %></span>
              </div>
              <div class="bottom-div-product">
                <div id="custom"><%= button_to "+Giỏ Hàng", line_items_path(:product_id => f) %></div>
                <div id="order"><%= link_to "Đặt Hàng", new_order_path, :method => :get %></div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="div-home-1">
      <span id="text-home-1">Đồ Uống</span>
      <span id="icon-home-1"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
      <span id="text-home-2">Chọn địa chỉ giao hàng tại đây</span>
      <span id="icon-home-2"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
    </div>
    <div class="div-home-2">
      <div class="row home-div-2">
        <div id="text-home-3"> Đồ ăn bán chạy nhất</div>
        <% @products_drinks.each do |f| %>
          <div class="div-for-product">
            <div class="img-product">
              <%= link_to image_tag(f.image.url) %>
            </div>
            <div class="detail-product">
              <span id="name-product"><%= f.name %></span>
              <div id="price-product"><%= f.price %>đ</div>
              <div id="description-product">
                <i class="fa fa-circle" aria-hidden="true"></i>
                <span id="description-product-2"><%= f.description %></span>
              </div>
              <div class="bottom-div-product">
                <div id="custom"><%= button_to "+Giỏ Hàng", line_items_path(:product_id => f) %></div>
                <div id="order"><%= link_to "Đặt Hàng", new_order_path, :method => :get %></div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
