<div class="row">
  <div class="col-sm-2 left-show-cart"></div>
  <div class="col-sm-8 container-cart">
    <div class="cart-text-1">Giỏ Hàng</div>
    <hr class="hr-cart">
    <div class="rơw">
      <div class="col-sm-6">
        <div class="cart-text-2">Sản phẩm</div>
        <hr class="hr-cart">
        <% @cart.line_items.each do |a| %>
          <span class="cart-product-image"><%= link_to image_tag(a.product.image.url) %></span>
          <span class="cart-product-name"><%= a.product.name %></span>
          <hr class="hr-cart">
        <% end %>
      </div>
      <div class="col-sm-2">
        <div class="cart-text-2">Giá</div>
        <hr class="hr-cart">
        <% @cart.line_items.each do |a| %>
        <div style="height: 90px;">
          <span class="cart-product-name"><%= a.product.price %></span>
        </div>
          <hr class="hr-cart">
        <% end %>
      </div>
      <div class="col-sm-4">
        <div class="cart-text-2">Số lượng</div>
        <hr class="hr-cart">
        <% @cart.line_items.each do |a| %>
        <div style="height: 90px;">
          <span class="cart-product-name"><%= a.quantity %></span>
        </div>
          <hr class="hr-cart">
        <% end %>
      </div>
    </div>
    <div>
      <span class="total">Tổng cộng: </span>
      <span class="total-2"><%= number_to_currency(@cart.total_price) %></span>
      <hr class="hr-cart">
    </div>
    <div class="empty-cart">
      <div class="bottom-div-product">
      <div id="custom">
        <%= button_to 'Empty cart',
          @cart,
          :method => :delete,
          data: {:confirm => 'Are you sure?'} %>
      </div>
      </div>
      <div id="custom-2"><%= button_to 'Mua Hàng',
              new_order_path,
              :method => :get %></div>
      </div>
    </div>
<div class="col-sm-2 left-show-cart"></div>
  </div>


