<div class="row">
 <div class="col-md-6 col-md-offset-3">
    <h2>Đăng nhập</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        <% if devise_mapping.rememberable? %>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        <% end %>
        <%= f.submit "Đăng nhập", class: "btn btn-primary" %>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
