.footer {
  height: 234px;
  background-color: #212226;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img-footer img{
  width: 45%;
  margin-top: 12%;
  margin-left: 30%;
}
#contact-us {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  margin-top: 8%;
}
#addess {
  color: #fff;
  font-size: 15px;
}
#font-default {
  color: #fff;
  font-size: 15px;
}
