@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
.header-on-top {
  background-color: #212226;
  width: 100%;
  height: 50px;
}
#order-in-header-on-top {
  color: #ffffff;
  text-align: center;
  padding-left: 33%;
  font-size: 13px;
  line-height: 39px;
  font-weight: 700;
}
#order-now-in-header-on-top a {
  font-size: 13px;
  color: #B72026;
  font-weight: 700;
}
.header-below-on-top {
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: -15px;
  height: 144px;
  padding-top: 25px;
}
.header-below-on-top ul {
  list-style-type: none;
  width: 100%;
  padding-left: 20%;
}
.header-below-on-top li {
  display: inline-block;
  width: 120px;
  height: 40px;
  margin-left: -5px;
}
.header-below-on-top a {
  color: #212226;
  font-weight: bold;
}
.header-below-on-top a:hover {
  color: #212226;
}
.header-below-on-top img {
  width: 80%;
}
body {
  margin: 0;
}
