.home {
  background-image: url("https://images2.alphacoders.com/942/9422.jpg");
}
.div-home-1 {
  height: 45px;
  background-color: #fff;
  margin-top: 40px;
  width: 85%;
  border-radius: 5px;
}
#text-home-1 {
  line-height: 45px;
  margin-left: 10%;
  color: #0288d1!important;
  font-weight: 700!important;
}
#icon-home-1 i {
  font-size: 12px;
  color: #464646;
  margin-left: 5px;
}
#text-home-2 {
  color: #464646;
  margin-left: 5px;
}
#icon-home-2 {
  margin-left: 40%;
  color: #464646;
}
.div-home-2 {
  height: 100%;
  background-color: #fff;
  width: 85%;
  margin-top: 5%;
  border-radius: 5px;
  padding-top: 2%;
}
#text-home-3 {
  margin-left: 12%;
  font-weight: 700!important;
  font-size: 15px;
}
.img-product img {
  border-radius: 5px 5px 0 0;
}
.div-for-product {
  margin-top: 2%;
  margin-left: 12%;
  width: 225px;
  height: 480px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  float: left;
}
#price-product {
  margin-left: 36%;
}
.detail-product {
  background-color: #fff;
  width: 90%;
  height: 40px;
  padding-top: 25px;
}
#name-product {
  font-weight: bold;
  margin-left: 10%;
  color: #000000;
}
#price-product {
  font-weight: bold;
  margin-left: 10%;
  font-size: 18px;
  margin-top: 25px;
  color: #000000;
}
#description-product {
  margin-left: 10%;
  margin-top: 25px;
}
#description-product i {
  font-size: 10px;
  color: #707070;
}
#description-product-2 {
  font-size: 12px;
  color: #707070;
}
#custom {
  height: 36px;
  width: 93px;
  border: 1px solid black;
  float: left;
  font-weight: bold;
  border-radius: 5px;
}
#order {
  height: 36px;
  width: 93px;
  border: 1px solid black;
  padding-left: 13px;
  padding-top: 6px;
  float: right;
  margin-right: 9%;
  background-color: #E61038;
  font-weight: bold;
  border-radius: 5px;
}
.bottom-div-product {
  padding-top: 27px;
  padding-left: 10%;
  width: 225px;
}
#custom a {
  color: #000000;
}
#order a {
  color: #fff;
}
#text-home-4 {
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  margin-top: 40px;
  margin-left: 15%;
}
#text-home-5 {
  margin-left: 15%;
  color: #fff;
  font-size: 16px;
}
.div-search-home {
  margin-left: 15%;
  margin-top: 5%;
  font-size: 20px;
}
#text-home-6 {
  margin-top: 20px;
  font-size: 16px;
  color: #fff;
}
.phrase-home {
  width: max-content;
  border: 1px solid #fff;
  float: left;
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
}
.phrase-home a {
  color: #fff;
  font-size: 16px;
}
.search-top {
  margin-left: 13%;
  width: 54%;
}
.phrase-home:hover {
  background-color: #fff;
}
.current-user li {
  width: 200px;
}
#custom input{
  height: 34px;
  width: 91px;
  border-radius: 5px;
}
#custom-2 input{
  height: 34px;
  width: 91px;
  border-radius: 5px;
  background-color: red;
}
#custom-2 {
  height: 36px;
  width: 93px;
  border: 1px solid black;
  float: left;
  font-weight: bold;
  border-radius: 5px;
}
#custom-3 {
  height: 36px;
  width: 93px;
  border: 1px solid black;
  float: right;
  font-weight: bold;
  border-radius: 5px;
}
#custom-3 input {
  height: 34px;
  width: 91px;
  border-radius: 5px;
}
#custom a{
  height: 34px;
  width: 91px;
  border-radius: 5px;
}
