<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :product, url: {action: :create, controller: :products}, method: :post do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
      <%= f.label :type_product %>
      <%= f.select(:type_product, options_for_select(Product.type_products.keys)) %></br>
      <%= f.label :type_food %>
      <%= f.select(:type_food, options_for_select(Product.type_foods.keys), {include_blank: true}) %></br>
      <%= f.label :quantity %>
      <%= f.number_field :quantity, class: "form-control" %>
      <%= f.label :price %>
      <%= f.number_field :price, class: "form-control" %>
      <%= f.label :description %>
      <%= f.text_field :description, class: "form-control" %>
      <%= f.label :image %>
      <%= f.file_field :image, class: "form-control" %>
      <%= f.submit "Create", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
