<div class="footer">
  <div class="row">
    <div class="col-sm-3 img-footer"><img src="https://lirp-cdn.multiscreensite.com/7014fe0e/dms3rep/multi/opt/mua-w-960w.png" id="1046860240" class="" data-dm-image-path="https://irp-cdn.multiscreensite.com/7014fe0e/dms3rep/multi/mua-w.png" onerror="handleImageLoadError(this)"></div>
    <div class="col-sm-5">
      <p id="contact-us">Contact Us</p>
      <p id="addess">761 S MacArthur Blvd. #121 Coppell, TX 75019
(972) 745 3377</p>
    </div>
    <div class="col-sm-4">
      <p id="contact-us">Opening Hours</p>
      <div>
        <span id="contact-us">Mon - Fri</span>
        <span>
          <span id="font-default">11:00 am - 2:30 pm</span>
          <div id="font-default">4:30 pm - 9:30 pm</div>
        </span>
        <span id="contact-us">Sat - Sun</span>
        <span id="font-default">
          4:30 pm - 9:30 pm
        </span>
      </div>
    </div>
  </div>
</div>
